@import 'tailwindcss';

@layer base {
  html {
    font-family: 'Pretendard', sans-serif;
  }

  body {
    font-family: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer components {
  button {
    cursor: pointer;
  }
}

/* @ 공통 컴포넌트 구현에 필요하면 사용할 코드
@layer components {
  button {
    @apply text-title2 gap-5 rounded-full transition-colors duration-200 ease-in-out outline-none;
    cursor: pointer;
  }

  button:active {
    transform: scale(0.97);
  }

  button:disabled {
    cursor: not-allowed;
  }

  input {
    @apply bg-surface focus:ring-background-hover text-title2 rounded-full px-4 py-2 transition-all duration-200 ease-in-out outline-none placeholder:text-gray-300 focus:ring-2;
  }

  select {
    @apply text-title2 rounded-full bg-white px-4 py-2 transition-all duration-200 ease-in-out outline-none placeholder:text-gray-300;
    cursor: pointer;
  }
}
*/
